@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

body {
  background: linear-gradient(rgb(255, 255, 255), #091f432a) fixed;
}
  ul {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    cursor: pointer;

    li:hover {
      color: #4E5166;
    }
  
  }

  #sign-up-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: #4E5166;
}

h1 {
    text-align: center;
}
input {
  padding: 4px;
  border-radius: 10px;
  font-weight: bold;
}
input.submit-btn {
  padding: 12px;
  width: 31%;
  cursor: pointer;
}
input.submit-btn:hover {
  background-color: #4E5166;

}
